.chartsPage h3 {
    text-align: center;
    padding: 10px;
}
.chartsPage{
    margin-bottom:30px;
}
.calorieChart, .gramChart {
    margin: 20px auto;
    width:80%;
    border-radius:10px;
    padding:20px;
}

.calorieChart p a:hover {
    text-decoration: none;
}
.calorieChart p a {
    text-decoration: underline;
}

.chartDatePicker {
    border-radius: 10px;
    margin:30px auto 0;
    width:30%;
    min-width:300px;
    padding:20px;
    text-align: center;
}

.calorieChart canvas, .gramChart canvas {
    margin: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
    .calorieChart, .gramChart {
        width: 95%;
    }
}