.chartsPage h3 {
    text-align: center;
    padding: 10px;
}

#myChart, #gChart {
    padding: 20px;
    background-color: whitesmoke;
}

.calorieChart, .gramChart {
    margin: 0 auto;
    max-width: 800px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .calorieChart, .gramChart {
        width: 95%;
    }
}