.mealCreationForm{
  text-align: center;
  margin-top: 20px;
}

.mealCreationForm label {
  font-size: 28px;
}

.mealCreationForm Button {
  width: 150px;
}

.mealsHeader {
  text-align: center;
}

.mealsHeader h2 {
  font-size: 2em;
  margin:40px 0 0 0;
}

h3{
  margin: 0;
}

#mealInput {
  padding-left: 5px;
  margin-top: 10px;
  font-size: 18px;
}

.MealsPage_meals_li{
  border-radius: 5px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin:20px 20px;
  width:20%;
  min-width:200px;
  box-shadow: 1px 1px 3px;
}

.mealNav {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  min-height:130px;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  width:12%;
  min-width:35px;
}

.mealNav button {
  background:none;
  padding:0;
  margin:0;
}

.MealsPage__meals{
  padding-left: 0;
  padding-top: 20px;
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
  
}

.mealPageMealName{
  font-size: 1.7em;
  margin-left:20px;
  max-width:70%;
  align-self: center;
  padding:10px;
}

.mealsHeader .modalOpener {
  display:inline;
}

.mealModal {
  border-radius: 20px;
  width:70%;
  margin:40px auto;
  padding:30px 0 50px;
}

.mealControl {
  color:#EFE7DA;
}

@media only screen and (max-width:500px){
  .MealsPage_meals_li{
    width:80%;
  }

  .mealModal {
    margin-top:70px;
    width:98%;
  }
  
}
