.event{
  border: 1px black solid;
  border-radius: 5px;
  padding: 10px;
  background: linear-gradient(to right, whitesmoke 91%, #0E4749 0%);
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px;
}

.trash {
  color:whitesmoke;
}

.eventTitle{
  display: flex;
  justify-content: space-between
}

.eventTime{
  margin: 5px 0 5px 0;
}

.linkContainer{
  display:flex;
  flex-direction: column;
  width:95%;
  margin:5% auto 0;
  justify-content: space-around;
  min-height: 225px;
  max-width:400px;
}

.eventsHeading{
  margin-bottom: 50px;
}