* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}


a{
  text-decoration: none;
}

#tagline {
  text-align: center;
  margin:10px;
}

h2 {
  margin:20px;
}

form { 
  text-align: center
}


html{
  background: #F4FEC1;
  color: #152a23;

}

.delete_button {
  color:#eeeeee;
}

a:visited {
  color: #152a23;
  
}

button{
  background-color: #087E8B;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  color:#eeeeee;
  cursor: pointer;
}

button a {
  color:#eeeeee;
  text-decoration: none;
}

button a:visited {
  color: #eeeeee;
  
}

.textCenter{
  text-align: center;
}

.button{
  background-color: #087E8B;
  text-decoration: none;
  font-size: 16px;
  color: #eeeeee;
  cursor: pointer;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:visited {
  color: #eeeeee;
}

.center{
  max-width: 800px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}