* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
  transition: background-color 500ms, box-shadow 500ms;
}
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');
h1 {
  font-family: 'Nova Mono', monospace;
  text-align: center;
  font-size: 3.5em;
  margin:30px;
}

.rdtCounters { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
  text-decoration: none;
  color: #152a23;
}

#tagline {
  text-align: center;
  margin:10px;
}

h2 {
  margin:20px;
}

form { 
  text-align: center
}

button{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.textCenter{
  text-align: center;
}

.button{
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center{
  max-width: 800px;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredientResult{
  cursor: pointer;
}

.formField{
  padding: 0;
  align-content: left;
  text-align: left;
  display: flex;
  justify-content: left;
  margin-bottom: 5px;
  width: 100%;
}

.inputLabel{
  border: 1px solid;
  margin: 0;
  padding: 3px;
  border: 2px solid;
  border-right: 1px solid;
  border-radius: 2px 0 0 2px;
  width: 40%
}

.inputField{
  border: none;
  margin: 0;
  padding: 3px;
  border: 2px solid;
  border-left: 1px solid;
  border-radius: 0 2px 2px 0;
  width: 60%;
}

.formContainer{
  display: flex;
  justify-content: center;
}