.mealName {
  text-align: center;
  font-size: 2.5em;
  margin:30px 50px;
}

.modalOpener {
  cursor: pointer;
  text-decoration: underline;
}

.modalOpener:hover {
  text-decoration: none;
}

.modalCloser {
  font-size:2.5em;
  position: absolute;
  right:20px;
  top:20px;
  cursor: pointer;
}

.mealContainer {
  display: flex;
  flex-wrap:wrap;
  width:100%;
  justify-content: space-between;
}

.panel {
  min-height:350px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px;
}

.detailsPanel {
  margin-left:25px;
}

.panelHeader {
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  padding: 10px;
}

.ingredient {
  display:flex;
  justify-content: space-between;
  margin:15px;
  padding-bottom:10px;
}

.finalIngredients  {
  margin: 0 20px;
}

.mealContainer section {
  margin:0 auto 20px;
  width:50%;
  min-width:250px;
  text-align: center;
}

.mealContainer section > div {
  margin:0 20px;
}

.mealContainer h3 {
  font-size: 1.7em;
}

.nutritionInfo {
  display:flex;
  flex-flow: wrap;
  align-content: space-evenly;
  text-align: center;
}

.nutritionInfo p {
  width:50%;
  font-size: 1.3em;
}

.fa-trash {
  cursor: pointer;
}

.modalAddIngredient {
  height:80vh;
  width:80%;
  margin:50px auto;
}

.modalAddIngredient .panelHeader {
  height:8vh;
}

.ReactModal__Content, .ReactModal__Content--after-open, .modal{
  outline: none;
}

@media only screen and (max-width:500px){
  .mealContainer section {
    width:90%;
  }
  
}
