.dashboard{
  /* display:flex; */
  /* flex-direction: column; */
  /* justify-content: space-around; */
  text-align: center;
  width:95%;
  margin:20px auto;
}

.updateBudgets a:hover{
  text-decoration: none;
}
.updateBudgets a{
  text-decoration: underline;
}
.updateBudgets {
  margin-top:20px;
}

.chartLink {
  text-decoration: underline;
}
.chartLink:hover {
  text-decoration: none;
}
.dashboardButton {
  margin:10px 30px 0;
  width:200px;
  border-radius: 5px;
}

.dashboard a{
  font-style: italic;
}

@media screen and (max-width: 550px) {
    .dashboardButton {
      width:80%;
    }
}