header{
  padding: 10px;
  text-align: center;
  font-size: 20px;
  box-shadow:1px 0 6px grey;
  height:90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a:visited {
  color:#EFE7DA;
}

header img {
  position:absolute;
  top:-45px;
  left:-70px;
  margin:0;
  padding:0;
  height:230px;
}

header h1{
  margin: 0;
}

.goBack span {
  position: absolute;
  top: 105px;
  left:1.5vw;
  font-size:3em;
  cursor: pointer;
}

@media only screen and (max-width:500px){
  .goBack span {
    top: 135px;
  }
  header {
    flex-direction: column;
    height:120px;
  }
}
