header{
  padding: 10px;
  text-align: center;
  background: #0E4749;
  color:#EFE7DA;
  font-size: 20px;
  box-shadow:1px 0 6px grey;
  height:90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a:visited {
  color:#EFE7DA;
}

header h1{
  margin: 0;
}


header a:hover{
  color: #000000;
}

@media only screen and (max-width: 400px) {
  header {
    flex-direction: column;
    height:120px;
  }
}