.mealLogContainer{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 30px;
}

#mealSelect, #mealTag{
  width: 200px;
}

.form-control{
  width: 200px;
  margin: 5px 0 5px 0;
  height: 25px;
  padding-left: 5px;
}

.rdtPicker{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rdtPrev, .rdtSwitch, .rdtNext, .rdtDay{
  cursor: pointer;
}

.rdtDays tfoot tr td{
  text-align: center;
  padding: 10px;
  cursor: pointer;
}

.results{
  cursor: pointer;
}